/* ==========================================================================
   FONTS
   ========================================================================== */
@font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Gilroy-Regular.woff') format('woff'),
	url('fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Gilroy-Bold.woff') format('woff'),
	url('fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* ==========================================================================
   NORMALIZE
   ========================================================================== */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-family: Gilroy, sans-serif;
	color: #222;
	font-size: 1em;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html * {
	max-height: 1000px;
}

body {
	margin: 0;
	position: relative;
	background: #fff;
	min-width: 1248px;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	border-radius: 0;
	-webkit-appearance: none;
}

button,
select {
	text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
	border-radius: 0;
	-webkit-appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
	opacity: 0.5;
	transition: all 0.2s ease-out;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #000;
	opacity: 0.5;
	transition: all 0.2s ease-out;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000;
	opacity: 0.5;
	transition: all 0.2s ease-out;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #000;
	opacity: 0.5;
	transition: all 0.2s ease-out;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */
.container {
	margin: auto;
	width: 1248px;
	padding: 0 16px;
}

.title {
	font-weight: bold;
	font-size: 57.4582px;
	line-height: 61px;
	color: #000;
}

.input {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	height: 55px;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 100%;
	color: #000;
	padding: 0 30px;
	outline: none;
}

/* ==========================================================================
   MAIN
   ========================================================================== */
#main {
	background: #FFC700;
	overflow: hidden;
}

.main__row {
	display: flex;
	padding: 40px 0 24px;
	position: relative;
}

.main__row:before {
	content: '';
	position: absolute;
	top: -26px;
	left: -157px;
	width: 340px;
	height: 273px;
	background: url(img/top-grains.png) no-repeat;
}

.main__row:after {
	content: '';
	position: absolute;
	bottom: -54px;
	left: -106px;
	width: 240px;
	height: 273px;
	background: url(img/bottom-grains.png) no-repeat;
}

.main__info {
	width: 530px;
	flex-shrink: 0;
	margin-top: 230px;
}

.main__img {
	margin-left: auto;
}

.main__img img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* ==========================================================================
   ABOUT
   ========================================================================== */
.about {
	padding: 196px 0;
}

.about__title {
	margin-bottom: 42px;
}

.about__row {
	display: flex;
}

.about__left {
	width: 840px;
}

.about__text {
	font-size: 16px;
	line-height: 130%;
	color: #000;
}

.about__right {
	margin-left: auto;
	width: 209px;
	margin-top: 30px;
}

.about__advantages {
	font-size: 16px;
	line-height: 100%;
	color: #000;
}

.about__advantages tr:first-child td {
	padding-top: 0;
}

.about__advantages td {
	vertical-align: middle;
	padding-left: 14px;
	padding-top: 64px;
}

.about__advantages td:first-child {
	padding-left: 0;
}

/* ==========================================================================
   MENU
   ========================================================================== */
.menu {
	padding: 66px 0 163px;
}

.menu__top {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.menu__search {
	margin-left: auto;
	width: 380px;
}

.menu__row {
	display: flex;
	flex-wrap: wrap;
	margin: -32px -16px 0;
}

.menu__col {
	margin-top: 32px;
	padding: 0 16px;
	width: 33.3333%;
}

.menu__item {
	background: #ECECEC;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
}

.menu__img img {
	display: block;
	width: 100%;
	height: auto;
}

.menu__name {
	font-weight: bold;
	font-size: 24.7483px;
	line-height: 26px;
	color: #000;
}

.menu__description {
	font-weight: bold;
	font-size: 12.2934px;
	line-height: 13px;
	color: #000;
	opacity: 0.5;
	margin-top: 10px;
}

.menu__info {
	padding: 52px 42px;
}

/* ==========================================================================
   GALLERY
   ========================================================================== */
.gallery {
	padding: 66px 0 160px;
}

.gallery__title {
	margin-bottom: 66px;
}

.gallery__row {
	display: flex;
}

.gallery__left {
	width: 817px;
	flex-shrink: 0;
}

.gallery__right {
	margin-left: 17px;
	flex-grow: 1;
}

.gallery__item + .gallery__item {
	margin-top: 13px;
}

.gallery__item img[alt] {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

/* ==========================================================================
   CONTACTS
   ========================================================================== */
.contacts {
	padding: 182px 0 165px;
}

.contacts__row {
	display: flex;
}

.contacts__info {
	width: 400px;
	margin-top: 10px;
}

.contacts__title {
	margin-bottom: 69px;
}

.contacts__text {
	font-size: 16px;
	line-height: 130%;
	color: #000;
}

.contacts__text p {
	margin: 20px 0;
}

.contacts__map {
	width: 690px;
	margin-left: auto;
}

.contacts__map img {
	display: block;
	width: 100%;
	height: auto;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
	background: #272727;
}

.footer__row {
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__logo {
	width: 64px;
}

.footer__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}